%display-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

html {
    font-family: $html-font;
    background-color: $html-color;
}

.title {
    color: black;
    margin-bottom: 20px;
    font-size: 30px;
    &_center {
        text-align: center;
    }
}

.text {
    color: $title-color;
}

.header {
    width: $basic-width;
    margin: 0 auto;
    background-color: $basic-color;   
    &_color {
        background-color: $header-color;
    }
    &-article__title {
        font-size: 50px;
        margin-bottom: 50px;
    }
    &-article__list {
        font-size: 20px;
    }
    
    &-article__item {
        margin-bottom: 10px;
    }
    
    &-article__item::before {
        content: url('../assets/check_icon.png');
        margin-right: 10px;
    }
}

.section {
    padding: 50px;
    @extend %display-flex;

    &__img {
        width: 40%;
    }    
}


.content, .footer {
    width: $basic-width;
    margin: 0 auto;
    background-color: $basic-color;
}

.footer_color {
    background-color: #445162;
}

.article-aboutme, .article-skills {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.article_white {
    color: white;
}

.main__img {
    height: 300px;
}

.article-itsme {
    width: 65%;
}

.article-itsme__text {
    margin-bottom: 15px ;
    line-height: 1.5;
    font-style: italic;
}

.section_color {
    background-color: $section-color;
}

.section-aboutme, .section-skills {
    display: block;
}

.article-aboutme__column {
    width: 49%;
}

.article-aboutme__item {
    background: url('../assets/plus_icon.png') no-repeat left top;
    padding-left: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.article__img {
    height: 100px;
}

.article__title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.footer-section {
    justify-content: center;
    text-align: center;
    color: white;
    line-height: 1.2;
    font-size: 20px;
}