@media (max-width: 640px) {
    .content, .header, .footer {
        min-width: 100%;
        max-width: 100%;
    }
    .header-article__title {
        font-size: 30px;
        margin-bottom: 20px;
    }    
    .section {
        padding: 20px;
        flex-flow: column;
        &__img {
            width: 100%;
        }
    }

    .article{
        &-aboutme {
            flex-flow: column;
        }

        &-skills {
            flex-wrap: wrap;
        }
        &-itsme {
            width: 100%;
            text-align: center;
            margin-top: 20px;
            margin-left: 0;
        }
        &-aboutme__column {
            width: 100%;
        }

        &-skills__column {
            padding: 20px 0;
        }
    }
}