$html-color: darkgrey;
$html-font: Arial, Helvetica, sans-serif;
$basic-width: 1280px;
$basic-color: white;
$text-color: black;
$header-color: #445161;
$footer-color: #445161;
$section-color: #EBEBE9;
$title-color: #445161;
$title-fontsize: 30px;