$html-color: darkgrey;
$html-font: Arial, Helvetica, sans-serif;
$basic-width: 1280px;
$basic-color: white;
$text-color: rgb(15, 14, 14);
$header-color: #445161;
$footer-color: #445161;
$section-color: #EBEBE9;
$title-color: #445161;