$html-color: darkgrey;
$html-font: Arial, Helvetica, sans-serif;
$basic-width: 80%;
$content-width: 80%;
$basic-color: white;
$text-color: black;
$header-color: #445161;
$footer-color: #445161;
$section-color: #EBEBE9;
$article-color: white;
$title-color: #445161;
$basic-fontsize: 20px;